body:after {
    content: url(./gfx/blue-yonder-logo.png);
    position: fixed;
    bottom: 2em;
    left: 2.5em;
}

html.final .state-background {
    background:url("gfx/bot_waves.png");
    background-position:center;
    background-size: 100%;
}
